[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
black = "*"

[packages]
pillow = ">=8.1.0"
tensorflow-gpu = "~=2.7"
tensorflow-hub = "*"

[pipenv]
allow_prereleases = true
